.msg_list_icon .ivu-poptip-body{
		padding:0;
}
.search_icon .ivu-poptip-body{
		padding:0;
}
.person .ivu-poptip-body{
		padding:0;
}
.ivu-poptip-body-content{
   overflow: hidden;	
}
/**
 * 主机页面
 */
    .flexCell .ivu-table-cell{
    	position: relative;
    }
     .flexCell .ivu-table-cell>div:nth-child(1){
     	position: relative;
     	border:1px solid silver;
     	text-align: left;
     }
	.flexCell .ivu-table-cell>div:nth-child(2){
	   position: absolute;
	   top: 3px;
	   left: 43%;
    }
	 .ivu-collapse > .ivu-collapse-item > .ivu-collapse-header{
	 	text-align: left;
	}
